<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.fastnotes</string>
	<key>connections</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88738A07-7856-44B5-B6B2-B0B5FEA14557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD547F2B-2316-4940-B208-2898D56FF689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11DF8D96-FDBC-4C35-BA11-9435A02BBC1E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal file in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C618448-A016-4FBA-A625-0F1FB61DD615</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C8680-2B4D-4344-9D2D-8BFFE4441CE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACFFEE38-C0F9-4587-83AE-0C363D6BB455</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A9B277D-3305-45BA-B155-B4F92DE37896</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF4506C0-F32F-411E-A6B1-366C8D003A19</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal file in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nir Dreemer</string>
	<key>description</key>
	<string>A fast local storage markdown based notes system</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fastnotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DD547F2B-2316-4940-B208-2898D56FF689</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>`log</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>log - Create/open today's note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if pgrep Sublime &gt; /dev/null; then
    #echo "Running"
    osascript -e 'activate application "Visual Studio Code"' &amp;
else
    #echo "Stopped"
    #/Applications/Sublime\ Text.app/Contents/MacOS/Sublime\ Text ~/Notes/log/`date +%Y-%m-%d`.md &amp;
	/Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron ~/Notes/log/`date +%Y-%m-%d`.md &amp;
	osascript -e 'activate application "Visual Studio Code"' &amp;
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>`open</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Notes</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>/Notes</string>
				<key>title</key>
				<string>open - Open a note</string>
				<key>types</key>
				<array>
					<string>*</string>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>88738A07-7856-44B5-B6B2-B0B5FEA14557</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>3A9B277D-3305-45BA-B155-B4F92DE37896</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>11DF8D96-FDBC-4C35-BA11-9435A02BBC1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<false/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<false/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>`search</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Notes</string>
				</array>
				<key>sortmode</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>/Notes</string>
				<key>title</key>
				<string>search - Search notes</string>
				<key>types</key>
				<array>
					<string>*</string>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>ACFFEE38-C0F9-4587-83AE-0C363D6BB455</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>DF4506C0-F32F-411E-A6B1-366C8D003A19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>`new</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>new - Add a new live note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9C618448-A016-4FBA-A625-0F1FB61DD615</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># /Applications/Sublime\ Text.app/Contents/MacOS/Sublime\ Text ~/Notes/active/{query}.md &amp;
/Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron ~/Notes/active/{query}.md &amp;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>273C8680-2B4D-4344-9D2D-8BFFE4441CE6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Readme:
https://github.com/NirDremer/fastnotes

Icon by Gregor Cresnar from the Noun Project
https://thenounproject.com/grega.cresnar</string>
	<key>uidata</key>
	<dict>
		<key>11DF8D96-FDBC-4C35-BA11-9435A02BBC1E</key>
		<dict>
			<key>note</key>
			<string>5. Hold the Alt key when pressing Return to reveal the file in Finder instead.</string>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>273C8680-2B4D-4344-9D2D-8BFFE4441CE6</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3A9B277D-3305-45BA-B155-B4F92DE37896</key>
		<dict>
			<key>note</key>
			<string>4. Pressing the Return key opens the file you selected.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>88738A07-7856-44B5-B6B2-B0B5FEA14557</key>
		<dict>
			<key>note</key>
			<string>3. Type the name of the file you want to search for within the folder defined earlier.</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>9C618448-A016-4FBA-A625-0F1FB61DD615</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>ACFFEE38-C0F9-4587-83AE-0C363D6BB455</key>
		<dict>
			<key>note</key>
			<string>3. Type the name of the file you want to search for within the folder defined earlier.</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>DD547F2B-2316-4940-B208-2898D56FF689</key>
		<dict>
			<key>note</key>
			<string>4. Pressing the Return key opens the file you selected.</string>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>DF4506C0-F32F-411E-A6B1-366C8D003A19</key>
		<dict>
			<key>note</key>
			<string>5. Hold the Alt key when pressing Return to reveal the file in Finder instead.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://github.com/NirDremer/fastnotes</string>
</dict>
</plist>
