<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.14632858-227E-4847-8B4A-FB028CEA41DB</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.6D316EBD-DF44-40C2-B473-5DE71D0B4500</string>
</dict>
</plist>
